.navbar-brand {
    margin-left: 80px;
}

.start-header {
    background-color: black;
    text-align: center;
}

.nav-item>a {
    color: #fff;
    margin-left: 10px;
}

.btns>button {
    border: none;
    padding: 15px 20px;
    border-radius: 35px;
}

.btn-one {
    background-color: transparent;
    color: white;
    border: 1px solid #fff !important;
    margin-left: 30px;
}

.btn-two {
    background-color: red;
    border-color: red !important;
    color: white;
}

.btn-two>i {
    background-color: white;
    color: red;
    padding: 6px;
    border-radius: 100%;
    margin-left: 2px;
}

@media only screen and (max-width: 700px) {
    .btn-one {
        text-align: center;
        margin-left: 15px;
    }

    .btn-two {
        text-align: center;
    }

    .btns {
        margin-top: 30px;
    }

    .slider>img {
        width: 100%;
        height: 300px;
    }
}


.middle {
    background-color: black;
    padding-bottom: 100px;
}

.head {
    font-size: 40px;
    color: black;
    text-align: center;
    color: #fff;
    padding-top: 40px;
}

.head>.head-one {
    font-family: "Futurak";
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    color: #fff;
}

.head-two {
    font-size: 40px;
    color: black;
    text-align: center;
    line-height: 1px;
    color: #fff;
}

.head-three {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    line-height: 60px;
}


@media only screen and (max-width: 700px) {
    .head {
        line-height: 50px;
        text-align: center;
    }

    .head-two {
        line-height: 35px;
        text-align: center;
    }

    .head-three {
        line-height: 25px;
        text-align: center;
    }
}


.image-one>img {
    background-color: white;
    width: 300px;
    height: 150px;
    object-fit: contain;
    margin-left: 130px;
}

.image-two>img {
    background-color: white;
    width: 300px;
    height: 150px;
    object-fit: contain;
    margin-left: 30px;
}

.image-three>img {
    background-color: white;
    width: 300px;
    height: 150px;
    object-fit: contain;
    margin-left: -60px;
}

.card-btn-one>button {
    border: none;
    padding: 15px 50px;
    border-radius: 35px;
    background-color: transparent;
    color: white;
    border: 1px solid #fff !important;
    margin-left: 190px;
    margin-top: 30px;
}


.card-btn-two>button {
    border: none;
    padding: 15px 50px;
    border-radius: 35px;
    background-color: transparent;
    color: white;
    border: 1px solid #fff !important;
    margin-left: 90px;
    margin-top: 30px;
}

.card-btn-three>button {
    border: none;
    padding: 15px 50px;
    border-radius: 35px;
    background-color: transparent;
    color: white;
    border: 1px solid #fff !important;
    margin-top: 30px;
}

@media only screen and (max-width: 600px) {
    .image-one>img {
        margin-left: 10px;
        text-align: center !important;
    }

    .card-btn-one>button {
        margin-left: 70px;
        margin-top: 10px;
    }

    .image-two>img {
        margin-left: 10px;
        margin-top: 30px;
    }

    .card-btn-two>button {
        margin-left: 70px;
        margin-top: 10px;
    }

    .image-three>img {
        margin-left: 10px;
        margin-top: 30px;
    }

    .card-btn-three>button {
        margin-left: 70px;
        margin-top: 10px;
    }
}

.middle-one {
    background-color: black;
}

.middle-one {
    padding-top: 100px;
}


.middle-two>span {
    font-size: 60px;
    color: white;
    font-family: "Futurak";
    font-weight: bold;
}

.middle-two {
    text-align: center;
}


.middle-two>.one-one {
    font-size: 50px;
    color: white;
    line-height: 10px;
}

.middle-two>.two-two {
    color: rgba(255, 255, 255, 0.7);
    line-height: 50px;
}

.red {
    color: #ED1C24;
}

.left {
    text-align: left;
}

.left>.code>.coding {
    font-weight: bold;
}

.left>.code {
    font-size: 30px;
    color: #fff;
}

.left>.cap {
    color: #fff;
}

.left>.capping {
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .left {
        text-align: center !important;
    }

    .ccc {
        margin-top: 40px !important;
    }
}


.ten>.eleven>.twelve {
    font-weight: bold;
}

.ten>.eleven {
    font-size: 30px;
    color: #fff;
}

.ten>.thirteen {
    color: #fff;
}

.ten>.fourteen {
    color: #fff;
}

.nine {
    margin-top: 60px !important;
}

.ten {
    text-align: left;
}

.ten>.btn-six {
    border: none;
    padding: 10px 30px;
    border-radius: 35px;
    background-color: transparent;
    color: white;
    border: 1px solid #fff !important;
    margin-top: 40px !important;
}

.btn-six>i {
    background-color: white;
    color: red;
    padding: 6px;
    border-radius: 100%;
    margin-left: 2px;
}

.left>.btn-five {
    border: none;
    padding: 10px 30px;
    border-radius: 35px;
    background-color: transparent;
    color: white;
    border: 1px solid #fff !important;
    margin-top: 40px !important;
}

.btn-five>i {
    background-color: white;
    color: red;
    padding: 6px;
    border-radius: 100%;
    margin-left: 2px;
}

.twenty>.fifteen {
    font-size: 30px;
    color: #fff;
}

.twenty>.fifteen>.sixteen {
    font-weight: bold;
}

.twenty>.seventeen {
    color: #fff;
}

.twenty>.eighteen {
    color: #fff;
}

.twenty>.btn-seven {
    border: none;
    padding: 10px 30px;
    border-radius: 35px;
    background-color: transparent;
    color: white;
    border: 1px solid #fff !important;
    margin-top: 40px !important;
}

.btn-seven>i {
    background-color: white;
    color: red;
    padding: 6px;
    border-radius: 100%;
    margin-left: 2px;
}

.twenty {
    text-align: left !important;
}

.up {
    margin-top: 60px !important;
}

@media only screen and (max-width:600px) {
    .ten {
        text-align: center !important;
    }

    .twenty {
        text-align: center !important;
    }
}

.blook {
    background-color: black;
    padding-top: 80px;
}


.hello {
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.hello-one {
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}

.redish {
    color: #ED1C24;
    padding-top: 10px;
}

.bold {
    font-weight: bold;
    font-size: 25px;
    color: #fff;
}

.booked {
    font-size: 25px;
    color: #fff;
}

.just {
    color: rgba(255, 255, 255, 0.7);
}

.justing {
    color: rgba(255, 255, 255, 0.7);
}

.bill {
    text-align: center !important;
    padding-top: 30px;
}

.btn-eight {
    border: none;
    padding: 10px 30px;
    border-radius: 35px;
    background-color: transparent;
    color: white;
    border: 1px solid #fff !important;
    margin-top: 20px !important;
}

.btn-eight>i {
    background-color: white;
    color: red;
    padding: 6px;
    border-radius: 100%;
    margin-left: 2px;
}

.clear {
    padding-top: 90px;
}

.color {
    font-size: 40px;
    color: #fff;
    line-height: 15px;
}

.color>.colors {
    font-weight: bold;
}

.color-1 {
    margin-top: 30px !important;
}

.just-1 {
    color: rgba(255, 255, 255, 0.7);
    margin-top: 40px;
}

.just-2 {
    color: rgba(255, 255, 255, 0.7);
}

.btn-nine {
    border: none;
    padding: 10px 30px;
    border-radius: 35px;
    background-color: #28a745;
    color: white;
    margin-top: 40px !important;
}

.btn-nine>i {
    background-color: white;
    color: #28a745;
    ;
    padding: 6px;
    border-radius: 100%;
    margin-left: 2px;
}

@media only screen and (max-width:600px) {
    .clear {
        text-align: center !important;
    }
}

.small-1 {
    font-size: 25px;
}

.contain-3 {
    margin-top: 60px;
}

.slide-3 {
    background-color: #fff;
}

.text-1 {
    font-size: 25px;
    font-weight: bold;
    color: black;
    line-height: 25px;
}


.text-2 {
    color: black;
    font-weight: bold;
}

.text-3 {
    font-size: 25px;
    color: black;
    line-height: 10px;
    font-weight: bold;
}

.text-4 {
    font-size: 25px;
    color: black;
    line-height: 10px;
    font-weight: bold;
}

.redish-1 {
    color: #ED1C24;
    letter-spacing: 5px;
    font-size: 12px;
}

.slide-3 {
    text-align: center;
}

.slide-3>img {
    margin-top: 20px;
}

.once {
    margin-left: 30px;
}


.twice {
    margin-left: 30px;
}

.slide-3 {
    margin-top: 40px !important;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .middle-two>.one-one {
        line-height: 50px;
    }
    .middle-two>.two-two {
        line-height: 25px;
    }

    .hello {
        line-height: 50px;
        margin-bottom: 20px;
    }

    .hello-one {
        line-height: 40px;
        font-size: 30px;
    }

    .color>.doc {
        line-height: 50px;
    }

    .once>.text-3 {
        line-height: 20px;
    }

    .slide-3>.three {
        line-height: 20px;
    }
}

.one-two {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}

.one-three {
    margin-top: 40px !important;
}

.p {
    color: rgba(255, 255, 255, 0.7);
    margin-top: 30px;
}

.q {
    color: white;
    font-weight: bold;
}

.one-11 {
    color: #fff;
    font-size: 50px;
    padding: 10px;
}

.m {
    margin-left: 40px;
}

.ending {
    margin-top: 80px !important;
}

.catch>.caal {
    color: rgba(255, 255, 255, 0.7);
    color: #28a745;
    text-align: left !important;
}

.catch>.call {
    color: rgba(255, 255, 255, 0.7);
    text-align: right !important;
    color: #28a745;
}

.catch {
    text-align: center;
}